In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)
print("Setup successful")

Setup successful

In [3]:
try:
    df = pd.read_csv('../data/online_retail_II.csv')
except UnicodeDecodeError:
    df = pd.read_csv('../data/online_reatil_II.csv', encoding='ISO-8859-1')

print(f"Dimensions: {df.shape}")
df.head()

Dimensions: (1067371, 8)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [4]:
print("--- Null Value Count ---")
print(df.isnull().sum())

print("\n--- Duplicate Count ---")
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

--- Null Value Count ---
Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

--- Duplicate Count ---
Number of duplicate rows: 34335

In [7]:
# cleaning data
df_clean = df.dropna(subset=['Customer ID']).copy()
df_clean.drop_duplicates(inplace=True)
df_sales = df_clean[df_clean['Quantity'] > 0].copy()
print(f"Rows after cleaning: {len(df_sales)}")

Rows after cleaning: 779495

In [8]:
country_map = {
    'EIRE': 'Ireland',
    'RSA': 'South Africa'
}

df_sales['Country'] = df_sales['Country'].replace(country_map)
print("Unique Countries (Sample): ", df_sales['Country'].unique()[:10])

Unique Countries (Sample):  ['United Kingdom' 'France' 'USA' 'Belgium' 'Australia' 'Ireland' 'Germany'
 'Portugal' 'Denmark' 'Netherlands']

In [11]:
df_sales['InvoiceDate'] = pd.to_datetime(df_sales['InvoiceDate'])
df_sales['TotalAmount'] = df_sales['Quantity'] * df_sales['Price']
df_sales['Customer ID'] = df_sales['Customer ID'].astype(int)
df_sales.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalAmount
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom,30.0

In [12]:
df_sales.to_csv('../data/cleaned_online_retail.csv', index=False)
print("File saved")

File saved